html {
    font-family: sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
}
body {
    background: linear-gradient(45deg, #1e5799 0%,#2989d8 50%,#7db9e8 100%);
    width: 100%;
    height: 100%;
    .main-container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: [first] calc(100% * (1/3)) [line2] calc(100% * (1/3)) [line3] calc(100% * (1/3)) [end];
        grid-template-rows: [row-start] calc(100% * (1/3)) [row2] calc(100% * (1/3)) [row3] calc(100% * (1/3)) [row-end];
    }
    quote-card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: row2;
        grid-row-end: row3;
        .quote-text-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            height: calc(100% * (1/1.5));
            p {
                padding: 40px 40px 0 40px;
                font-size: 1.5em;
            }
            span {
                padding: 0 40px 0 0;
                align-self: flex-end;
            }
        }
        .quote-submit-container {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-flow: column nowrap;
            height: calc(100% * (1/3.5));
            input {
                height: 38px;
                border: none;
                border-radius: 3px;
                color: #fff;
                background-color: #333;
                outline: none;
                font-size: 0.85em;
                padding: 8px 18px 6px 18px;
                margin-right: 40px;
                opacity: 1;
                cursor: pointer;
                align-self: flex-end;
            }
        }
    }
}
